html {
    background-color: #1E1E1E;
    padding-top: 30px;
}

body {
    margin: 0;
}

.back {
    background-image: url(/img/background.png);
    margin: 0 auto;
    width: 800px;
    height: 696px;
    background-repeat: no-repeat;
    background-size: cover;  
    overflow: auto
}

.inner{
    width: 700px;
    height: 635px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    margin-top: 30px;
    overflow: auto
}

.top-line img {
    display: block; 
    margin: 0;
    padding: 0;
    margin: 0 auto;
    margin-top: 20px;  
    margin-bottom: 20px;  
}

.grid-container{
    display: grid;
    grid-template-columns: 230px 400px;
    justify-content: space-between;
}

.info img {
    margin-left: 20px;
    margin-bottom: 20px;
}

.contact {
    margin-left: 20px;
    width: 230px;
    height: 207px;
    background-color: #262626;
    box-sizing: border-box;
    padding: 15px 0px 0px 15px;
}

.contact h2 {
    margin: 0;
    font-family: Verdana;    
    font-size: 24px;
    font-weight: 100;
    color: white;
}
.contact img{
    display: block;     
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 15px;
}

.current-contact img {
    display: block;     
    margin: 0;
    padding: 0;
}

.current-contact{
    display: flex;
    align-items: center; 
    gap: 8px; 
    margin-bottom: 10px;
}

.current-contact a{       
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;    
}

.bottom-line img {
    display: block; 
    margin: 0;
    padding: 0;
    margin: 0 auto;
    margin-top: 20px;  
    margin-bottom: 20px;  
}

.cv{
    margin-right: 20px;
}

.cv h1{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 34px;
    font-weight: 100;
}

.cv p {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    text-align: justify;
    font-weight: 100;
    margin-top: 20px;
}

.cv h2 {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: 100;
    margin-top: 20px;
}

.achievement{
    margin-top: 15px;
    display: flex;
    align-items: center; 
    gap: 8px;
    height: 36px;
    border: 2px black solid;
    border-radius: 10px;
    padding-left: 10px;
}

.achievement a{
    color: black;
}

.achievement h2{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 100;    
}