body {
  background-color: rgb(36, 36, 36);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.back {
  width: 600px;
  height: 400px;
  background-color: rgb(212, 212, 212);
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  border-radius: 10px;
  gap: 20px;
}

.task {
  padding: 10px;
}

.box {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  background-color: black;
}

.hidden{
  display: none;
}