


body {
  background-color: rgb(36, 36, 36);
  
}

.main-link{
  display: block;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(212, 212, 212);
  text-align: center;
  width: 100px;
  height: 30px;
}

.main {
  background-color: rgb(36, 36, 36);
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh;
  margin: 0; */
}

.back {
  width: 600px;
  height: 400px;
  background-color: rgb(212, 212, 212);
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  border-radius: 10px;
  gap: 20px;
}

.task {
  padding: 10px;
}

.box {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  background-color: black;
}

.hidden {
  display: none;
}

#button {
  margin-bottom: 10px;
}

.task3-back {
  width: 600px;
  height: 400px;
  background-color: rgb(212, 212, 212);
  display: flex;
  border-radius: 10px;
  gap: 20px;
  flex-direction: column;
}

.task3-inner-button {
  text-align: center;
}

.task3-inner-boxes {
  display: flex;
}

.task4-inner-input {
  text-align: center;
  margin-top: 10px;
}

.task4-back {
  width: 600px;
  height: 800px;
  background-color: rgb(212, 212, 212);
  display: flex;
  border-radius: 10px;
  gap: 20px;
  flex-direction: column;
}

.task5-back {
  width: 600px;
  height: 400px;
  background-color: rgb(212, 212, 212);
  display: block;
  border-radius: 10px;
}

.task5-back .box {
  width: 100px;
  height: 100px;
  background-color: yellow;
  margin: 0 auto;
  margin-top: 20px;
}

.task6-back {
  text-align: center;
  width: 600px;
  height: 400px;
  background-color: rgb(212, 212, 212);
  display: block;
  border-radius: 10px;
}

.task6-back .box {
  width: 50px;
  height: 50px;
  background-color: rgb(255, 0, 0);
  margin: 0 auto;
  margin-top: 20px;
}


.task7-back {
  text-align: center;
  width: 600px;
  height: 400px;
  background-color: rgb(212, 212, 212);
  display: block;
  border-radius: 10px;
}

.task7-back .box {
  width: 50px;
  height: 20px;
  background-color: green;
  margin: 0 auto;
  margin-top: 20px;
}

.task8-back {
  padding-top: 10px;
  text-align: center;
  width: 600px;
  background-color: rgb(212, 212, 212);
  display: block;
  border-radius: 10px;
}

.task8-back input {
  margin-bottom: 10px;
}

.task8-back .box {
  width: 50px;
  height: 20px;
  background-color: green;
  margin: 0 auto;
  margin-top: 20px;
}

.task8 img{
  width: 300px;
  margin-bottom: 20px;
}

.task8-text{
  width: 200px;
  margin-left: 200px;
  text-align: left;
}

.task8-text p{
  margin: 0;
  padding: 0;
}

.task9 img{
  width: 300px;
  margin-bottom: 20px;
}

.task10-back {
  display: flex;
  justify-content: space-between;}

.coordinate{
  padding-left: 10px;
  text-align: left;
  width: 300px;
  background-color: rgb(212, 212, 212);
  display: block;
  border-radius: 10px;
}
.coordinate h2, p{
  margin: 0px;
  margin-top: 10px;
}

.task13-inner {
  display: flex;
  justify-content: space-between;
}

.textblock {
  margin: 10px;
  width: 150px;
  height: 150px;
  background-color:beige;
  text-align: left;
}

.labelblock {
  margin: 10px;
  width: 150px;
  height: 30px;
  background-color:beige;
  text-align: center;
  border: ipx solid black;
}


.task14-back {
  padding-top: 10px;
  text-align: center;
  width: 600px;  
  background-color: rgb(212, 212, 212);
  display: block;
  border-radius: 10px;
}
.task14-back p{
  font-size: 60px;
}

#up-button {
  visibility: hidden;
  position: fixed;
  bottom: 10%;
  right: 10%;
  padding: 5px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  background-color: rgb(179, 169, 155);
  border: 2px solid black;
  border-radius: 15px;
  cursor: pointer;
}

#up-button:hover {
  background-color: antiquewhite;
  border: 4px solid black;
}

#up-button:active {
  cursor: grabbing;
}

.task15-back {
  padding-top: 10px;
  display: flex;
  width: 600px;
  height: 400px;  
  background-color: rgb(212, 212, 212);  
  border-radius: 10px;
  justify-content: center;
}

.task15-back .inner {
  display: flex;
  justify-content: center;
  margin: 20px;
  width: 200px;
  height: 200px;
  align-content: center;
  flex-wrap: wrap;
  background-color: green;
}

.task15-back .outer {    
  width: 100px;
  height: 100px;
  background-color: yellow;

}

.task16-back {
  padding-top: 10px;
  text-align: center;
  width: 600px;
  height: 1500px;
  background-color: rgb(212, 212, 212);
  border-radius: 10px;
}

.task16-back input {
  width: 150px;
  height: 50px;
  border: 2px solid;
  border-radius: 5px;
  background-color: rgb(235, 225, 43);
  font-size: 20px;
}
.task16-back p{
  font-size: 60px;
}

.task16-hide{  
  visibility: hidden;
  display: flex;
  justify-content: center;

}

.task16-hide-box{
  position: fixed;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.70);
  border: 2px solid black;
  border-radius: 20px;
  width: 90%;
  height: 90vh; 
  top:  50%;
  left: 50%;
  transform: translate(-50%, -50%)  
}

.task16-hide-box h1{
  color: white;
  margin-top: 40vh;
}

.task17-back {
  width: 600px;
  height: 400px;
  background-color: rgb(212, 212, 212);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-align: center;

}

.task17-back input{
  width: 100px;
  height: 50px;
  border-radius: 5px;
  font-size: 24px;    
}

.task18-back {
  width: 600px;
  height: 400px;
  background-color: rgb(212, 212, 212);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-align: center;
  flex-wrap: wrap;
  align-content: flex-start;
}

.task18-back h2{
  visibility: hidden;
}

.task18-back form {
  width: 500px;
  height: 150px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
}

label {
  margin: 0;
  padding: 0;
}

.custom-file-button{
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: aliceblue;
}

.custom-file-button:hover{
  background-color: rgb(211, 216, 222);
}

#submit-button{
  margin-top: 10px;
}